@{
    ViewData["Title"] = "Home Page";
}

<div class="p-3 m-0 bg-light bg-opacity-75 rounded-3 text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
